.card {
  border-radius: 1rem;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transform: translate(5px, -5px);
  transition: all 0.2s ease-in-out;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.autocomplete {
  display: flex;
}
